<!doctype html>
<html lang="en">

{{>head}}

<body>

    {{>navbar}}

    <h1>Official Smart IOT Homepage</h1>

    <div class='main-content'>
        <h4 id="data">

        </h4>
    </div>


    {{>bootstrap}}
    {{>footer}}
    <script src="/javascripts/web.js"></script>
</body>

</html>